<!DOCTYPE HTML>
<html>
  <head>
    <title>广告大官人管理平台</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/manage.css">
    <script src="/scripts/manage.js"></script>
  </head>
  <body>
  	  <form action="#"  method="post">
  	     <ul>
  	        <li>
  	          <label for = "quession" >问题</label>
  	         <textarea id="quession" name="quession"></textarea>
  	        </li>
  	        <li>
  	          <label for = "answerA" >选项A</label>
  	          <input id="answerA" name = "answerA"/>
  	        </li>
  	        <li>
  	          <label for = "answerB" >选项B</label>
  	          <input id="answerB" name = "answerB"/>
  	        </li>
  	        <li>
  	          <label for = "answerC" >选项C</label>
  	          <input id="answerC" name = "answerC"/>
  	        </li>
  	        <li>
  	          <label for = "answerD" >选项D</label>
  	          <input id="answerD" name = "answerD"/>
  	        </li>
  	        <li>
  	          <label for = "select" >答案</label>
  	          <select name="select" id = "select">
  	             <option value="A">选项A</option>
  	             <option value="B">选项B</option>
  	             <option value="C">选项C</option>
  	             <option value="D">选项D</option>
  	          </select>
  	        </li>
  	        <li>
  	        	<button>提交</button>
  	        </li>
  	     </ul>
  	  </form>
  </body>
</html>
