


#index{
	padding: 10px;
    padding-top: 50px;
    line-height: 22px;
}

#index span{
	font-size:18px;
	
}

#index p {
	margin-bottom:30px;
}

#game {
    padding: 10px;
    padding-top:50px;
}

#game,.quessionList>li{
	opacity:0;
	-webkit-transition:opacity 1s;
	-ms-transition:opacity 1s;
	-moz-transition:opacity 1s;
	transition:opacity 1s;
}

#quession{
	width:100%;
	height:100%;
	max-width:400px;
	margin:0 auto;
	overflow:hidden;
}

#quession>li{
	width:100%;
	height:100%;
	opacity
}

#quession>li:first-child{
	opacity:1;	
}

.clock {
    position: absolute;
    right: 20%;
    top: 10px;
}

.pageFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    color: #fff;
    font-size: 14px;
    display: table-cell;
    vertical-align: middle;
    background: rgba(94,0,18,.8);
}

.pageFooter .brand {
    height: 80px;
    line-height: 18px;
    float: left;
}

.pageFooter .brand .logo, .pageFooter .brand .logo img {
    width: 44px;
    height: 44px;
    border-radius: 4px;
    float: left;
}
.pageFooter .brand .logo {
    margin-left: 7px;
    margin-top: 6px;
    margin-right: 7px;
}

.brand .slogan {
    margin-top: 12px;
    float: left;
    text-align: left;
}

.pageFooter .downLoadButton {
    height: 26px;
    padding: 0 12px;
    line-height: 26px;
    background: #fa5075;
    float: right;
    border-radius: 13px;
    margin: 17px 15px;
    display: inline-block;
    color: #fff;
}

.answerList li{
	line-height:22px;
	font-size:14px;
}
